<article class="post u-cf">
    <div class="row">
        <div class="twelve columns">
            <h1 class="post-title">{{ .Title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div class="post-meta-info">
                Published on
                {{ if .Site.Params.strings.date_format }}
                    {{ .Date.Format .Site.Params.strings.date_format }}
                {{ else }}
                    {{ .Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}
                <span class="post-meta-info-taxonomy">
                    in categories:
                        {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
                    using tags:
                        {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}
                </span>
            </div>
        </div>
    </div>
</article>
